<aside id="hoe-left-panel" hoe-position-type="absolute">

    <ul class="nav panel-list">

        <li class="active">
            <a href="/">
                <i class="fa fa-home"></i>
                <span class="menu-text">Dashboard</span>
                <span class="selected"></span>
            </a>
        </li>

        <li class="hoe-has-menu">
            <a href="javascript:void(0)">
                <i class="fa fa-cogs"></i>
                <span class="menu-text">ทดสอบ API</span>
                <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
                <li>
                    <a href="/users">
                        <span class="menu-text">API Users ทั้งหมด</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="ui-typography.html">
                        <span class="menu-text">typography</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="hoe-has-menu">
            <a href="javascript:void(0)">
                <i class="fa fa-table"></i>
                <span class="menu-text">MySQL แสดงเป็น Tables</span>
                <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
                <li>
                    <a href="table-static.html">
                        <span class="menu-text">Static tables</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="table-responsive.html">
                        <span class="menu-text">Responsive Tables</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="table-data.html">
                        <span class="menu-text">Data tables</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/me">
                <i class="fa fa-user"></i>
                <span class="menu-text">User Profile</span>
                <span class="selected"></span>
            </a>
        </li>

    </ul>
</aside><!--aside left menu end-->